body {
    padding-top: 200px;background: #c7b39b url(https://i.pinimg.com/originals/0f/95/95/0f9595bdeabef6ecbfdc4f68ace3bb48.jpg);
    padding-top: 200px;
}

form {
    margin: 0 auto;
    background-color: #631394;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px #000000;
    border-radius: 10px;
}

p {
    text-align: center;
    color: #33f5c8;
}

input {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
}
textarea {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
}
button {
    margin-top: 5px;
    margin-left: 125px;
    margin-right: 125px;
    width: 50px;
}
button:hover{
    color: #33f5c8;
    transition: 1s;
}
